---
- name: Playbook for starting sonarqube
  hosts: "{{ HOSTS }}"
  remote_user: cddeploy
  become: true
  become_method: sudo
  gather_facts: false
  vars_files:
    - sonarqube/vars/root_password.yml
  vars:
    ansible_become_pass: "{{ sudo_pass }}"
    ansible_python_interpreter: /usr/bin/python3
  roles:
    - role: sonarqube
