---
- name: GIT installation
  hosts: build_server
  remote_user: cddeploy
  become: true
  become_method: sudo
  gather_facts: false
  vars_files:
    - root_password.yml
  
  vars:
    ansible_become_pass: "{{ sudo_pass }}"
    git_repo_url: "git@github.com:sushant1305/infrastructure.git"
    target_directory: "/home/cddeploy/ansible/infrastructure/sonarqube"
    sshkey: "~/.ssh/id_rsa"
  
  tasks:
    - name: Install dependencies
      yum:
        name:
          - git
        use_backend: "yum"
        state: latest

    - name: Clone Git repository
      git:
        repo: "{{ git_repo_url }}"
        dest: "{{ target_directory }}"
        key_file: "{{ sshkey }}"
        clone: yes
        update: yes
        version: "feature/ansible"
      sudo_user: cddeploy