---
- hosts: build_server
  remote_user: cddeploy
  become: true
  become_method: sudo
  gather_facts: false
  vars_files:
    - root_password.yml
  vars:
    ansible_become_pass: "{{ sudo_pass }}"
    git_repo_url: "git@github.com:sushant1305/sonarqube.git"
    target_directory: "/home/cddeploy"
    sshkey: "~/.ssh/id_rsa"

  tasks:
    - name: Install dependencies
      yum:
        name:
          - java
        use_backend: "yum"
        state: latest
        
    - name: Volume creation
      docker_volume:
        name: volume_sonarqube_data
      docker_volume:
        name: volume_sonarqube_logs
      docker_volume:
        name: volume_sonarqube_extensions
      vars:
        ansible_python_interpreter: /usr/bin/python3
        
    - name: Install sonar
      community.docker.docker_container:
        name: sonarqube
        image: sonarqube:latest
        volumes:
          - sonarqube_data:/opt/sonarqube/data
          - sonarqube_logs:/opt/sonarqube/logs
          - sonarqube_extensions:/opt/sonarqube/extensions
          - /home/cddeploy/sonarqube/conf:/opt/sonarqube/conf

        env:
          SONAR_ES_BOOTSTRAP_CHECKS_DISABLE: "true"
        restart: true
        ports:
          - "9000:9000"
      vars:
        ansible_python_interpreter: /usr/bin/python3
    
    - name: Clone Git repository
      tags: git_clone
      git:
        repo: "{{ git_repo_url }}"
        dest: "{{ target_directory }}"
        key_file: "{{ sshkey }}"
        clone: yes
        update: yes
        version: "feature/sonar"
        accept_hostkey: yes
        force: yes
      become_user: cddeploy
