---
- hosts: build_server
  remote_user: cddeploy
  become: true
  become_method: sudo
  gather_facts: false
  vars_files:
    - root_password.yml
  vars:
    ansible_become_pass: "{{ sudo_pass }}"
    git_repo_url: "git@github.com:sushant1305/jenkins_config.git"
    target_directory: "/home/cddeploy/jenkins"
    sshkey: "~/.ssh/id_rsa"
    ansible_python_interpreter: /usr/bin/python3
    
  tasks:
    - name: Clone Git repository
      tags: run_jenkins 
      git:
        repo: "{{ git_repo_url }}"
        dest: "{{ target_directory }}"
        key_file: "{{ sshkey }}"
        clone: yes
        update: yes
        version: "feature/startup_config"
        accept_hostkey: yes
        force: yes
      become_user: cddeploy
      
    - name: Remove Jenkins tagged version
      tags: remove_jenkins
      docker_image:
        state: absent
        name: 192.168.0.130:5000/jenkins
        tag: v1.0

    - name: Remove Jenkins image
      tags: remove_jenkins
      docker_image:
        state: absent
        name: jenkins
        tag: v1.0
        force: yes

    - name: Build Jenkins image
      tags: build_jenkins
      docker_image:
        name: jenkins:v1.0
        build:
          path: '{{ target_directory }}'
        source: build
        state: present
    
    - name: Create a volume
      docker_volume:
        name: jenkins_data
    
    - name: Start Jenkins
      tags: run_jenkins
      community.docker.docker_container:
        name: jenkins
        image: jenkins:v1.0
        volumes:
          - jenkins_data:/var/jenkins_home
          - /home/cddeploy/jenkins/casc.yml:/var/jenkins_home/casc.yml
          - /usr/local/bin/docker:/usr/bin/docker
        env:
          JENKINS_ADMIN_ID: "cddeploy"
          JENKINS_ADMIN_PASSWORD: "admin123"
        restart: true
        ports:
          - "8085:8080"
