---
- hosts: build_server
  remote_user: cddeploy
  become: true
  become_method: sudo
  gather_facts: false
  vars_files:
    - root_password.yml
  vars:
    ansible_become_pass: "{{ sudo_pass }}"
    git_repo_url: "git@github.com:sushant1305/jenkins_config.git"
    target_directory: "/home/cddeploy/jenkins"
    sshkey: "~/.ssh/id_rsa"
    ansible_python_interpreter: /usr/bin/python3
    
  tasks:
    - name: Clone Git repository
      tags: run_jenkins 
      git:
        repo: "{{ git_repo_url }}"
        dest: "{{ target_directory }}"
        key_file: "{{ sshkey }}"
        clone: yes
        update: yes
        version: "feature/startup_config"
        accept_hostkey: yes
        force: yes
      become_user: cddeploy
      
    - name: Remove Jenkins image
      tags: build_jenkins
      docker_image:
        state: absent
        name: jenkins
        tag: v1.0

    - name: Build Jenkins image
      tags: build_jenkins
      docker_image:
        name: jenkins:v1.0
        build:
          path: '{{ target_directory }}'
        source: build
        state: present
        
    - name: Log into private registry and force re-authorization
      docker_login:
        registry: 192.168.0.130:5000
        username: cddeploy
        password: admin123
        reauthorize: yes
    
    - name: Tag and push to local registry
      tags: push_jenkins
      docker_image:
        name: jenkins:v1.0
        repository: 192.168.0.130:5000
        tag: jenkins
        push: true
        source: local
      become_user: cddeploy